<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<connectionStrings>
		<add name="Piramida3000Entities"
			  connectionString="metadata=res://*/Piramida.Piramida.csdl|res://*/Piramida.Piramida.ssdl|res://*/Piramida.Piramida.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=Piramida3000;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
			  providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>
